@import url("https://fonts.googleapis.com/css2?family=Markazi+Text:wght@500&display=swap");

body {
  display: flex;
  margin: 0 auto;
  justify-content: center;

  font-family: "Markazi Text", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
#root {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 780px;
}
