@import url("https://fonts.googleapis.com/css2?family=Markazi+Text:wght@500&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Karla&display=swap");

body {
  font-family: "Karla", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.container {
  @media (min-width: 64em) {
    margin-right: auto;
    margin-left: auto;
    max-width: 64em;
  }
}

body h1,
h2,
h3,
h4,
nav {
  font-family: "Markazi Text", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
#root {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  @media (min-width: 64em) {
    width: 780px;
  }
}
